<div class="well">
<h2 class="text-center">About me!</h2>
<p class="text-muted">I am a <mark><b>full stack developer</b></mark>, I code everything be it front end,
  back end android app or anything else if it is even remotely
  related to computers I am up for it.
</p>
<p class="text-muted">
I am currently enrolled as a <mark>student in Jaypee institute of information Technology</mark> in B.Tech Computer Science.
</p>
<h3 >Expertise</h3>

<p class="text-muted">
My area of <mark><b>expertise is Scalable web apps and Restfull web services</b></mark> but frankly I am a Jack of all trades,
 infact I've always aimed to be a one stop shop for all queries regarding I project.
 I strongly oppose the Idea of having a team of 20 for a 10 week project for the sake of having experts of each field.
</p>
<h3 >Interests</h3>
<p class="text-muted">
My interests include networking and distributed systems, most of my works
involve porting some desktop app or solution to a web based platform.
I love working with Api based restfull backends and like to keep my stuff modular.
</p>

<p class="text-muted">
Most Importantly I am a problem solver and a fast learner, you come to me with a problem and leave with a solution,
might not be the best solution but <i><b>It Works!</b></i> and that's what matters.
</p>
</div>
