<div class="jumbotron">
  <h1>Hi! I am Gaurav Shukla</h1>
  <p class="text-muted">
    <img src="images/gaurav.jpg" class="profile-pic img-circle" alt="Gaurav Shukla"><br>
    Always pleasure crafting the <i>Web</i>.<br/>I am available as Freelance Web Developer/Designer.
  </p>
  <p class="text-info">
<a class="" href="https://github.com/deathping1994">Checkout my work on<img src="images/github.png" class="icon"/></a>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Hire Me<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
